            </div>
        </div>
    </div>

    <script>
        // Persist sidebar toggle between refreshes
        $(document).ready(() => {
            if (localStorage.getItem('sidebarToggled') === 'true') {
                $('body').toggleClass('sidenav-toggled');
            }
        });

        // Sidebar toggler
        $('#sidebar-toggle').click((event) => {
            event.preventDefault();
            $('body').toggleClass('sidenav-toggled');
            localStorage.setItem('sidebarToggled', $('body').hasClass('sidenav-toggled'));
        });
    </script>
</body>

</html>