@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

/* ---------- Content ---------- */

.main-content {
    margin: 20px;
    width: auto;
}

.table-cell {
    padding: 1rem 1rem !important;
}

.page-header-content {
    padding: 1rem 1rem !important;
}

.page-header-text {
    margin: 0;
}

.page-header-btn {
    text-align: right;
}

.page-header-add-btn-text {
    margin-left: 10px;
}

.page-header-add-btn-icon {
    margin: 0 10px 0 5px;
}

.icon-action {
    font-size: 20px;
    margin: 0 5px;
}

.page-header-back-btn-text {
    margin-right: 10px;
}

.page-header-back-btn-icon {
    margin: 0 5px 0 10px;
}

.form-section {
    background: #ffffff;
    padding: 25px;
}

.form-row {
    width: 100%;
}

.form-label-text {
    font-weight: bold;
}

.form-footer-content {
    padding: 1rem 1rem !important;
    text-align: center;
}

.form-footer-btn {
    margin: 0 10px;
}

.form-footer-btn-text {
    margin: 30px;
}